.checkoutList {
    display: flex;
    align-items: stretch;
    padding: 20px;
    margin: 0 50px 500px;
}

.cart {
    margin: 0 100px;
    width: 50%;
}

.cart-top {
    display: flex;
    align-items: center;
    justify-content: start;
}

.backOrder {
    display: inline-block;
    color: rgb(255, 147, 59);
    margin-right: 250px;
    text-decoration: none;
    transition: color .5s, letter-spacing .5s;
}

.backOrder:hover {
    border-bottom: 2px dotted rgb(255, 170, 13);
    transform: scale(1.05);
    letter-spacing: 1px;
    color: rgb(255, 190, 77);
}

.cart-title {
    display: inline-block;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color: rgb(255, 170, 13);
    text-shadow: 1px 1px 3px #726e6e;
    padding: 20px 0;
}

.line {
    margin: -5px auto 10px;
    height: 1px;
    border: none;
    border-top: 2px dotted rgb(255, 170, 13);
}



.cart-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 10px;
    box-shadow: 0 10px 20px #5555;
    border-radius: 20px;
    background: #b6acace1;
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.cart .cart-list .cart-item img {
    height: 80px;
    border-radius: 50px;
    padding: 10px;
}

.item-name {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(245, 222, 180);
    text-shadow: 1px 1px 5px #403f3f;
}

.item-price {
    font-weight: bolder;
    text-shadow: 1px 1px 3px #403f3f;
    color: rgb(255, 170, 13);
    font-size: 22px;
}

.cart-btn {
    display: flex;
    align-items: center;
}

.btnMinus,
.btnAdd {
    width: 30px;
    font-size: 20px;
    background-color: rgb(245, 222, 180);
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnMinus:hover,
.btnAdd:hover {
    background-color: rgba(255, 170, 13, 0.8);
}

.btnDel {
    margin-left: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    transition: background-color 0.3s;
    background-color: rgb(226, 99, 99);
}

.btnDel:hover {
    background-color: rgb(227, 62, 62);
    color: rgb(253, 244, 244)
}

.item-num {
    font-size: 20px;
    font-weight: bolder;
    color: #0736b8;
    line-height: 20px;
    margin: 0 10px;
    padding: 3px 10px;
    text-align: center;
    border: 1px solid rgba(255, 170, 13, 0.8);
    border-radius: 5px;
}

.total-box {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bolder;
    text-shadow: 1px 1px 3px #403f3f;
    color: rgb(255, 170, 13);
    display: flex;
    justify-content: flex-end;
}

.total-text {
    letter-spacing: 2px;
    margin-right: 25px;
}

.total-price {
    letter-spacing: 15px;
    text-decoration: underline double rgb(255, 170, 13);
    text-decoration-skip-ink: none;
}



.checkoutBox {
    background-color: rgba(255, 255, 255, .3);
    border: 3px solid rgba(255, 255, 255, .2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 30px;
    margin-top: -15px;
}


.check-title {
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color: rgb(255, 170, 13);
    text-shadow: 1px 1px 3px #726e6e;
    margin-bottom: 20px;
}

.check-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.check-number label {
    white-space: nowrap;
    margin-right: 10px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #646464;
    color: rgb(255, 170, 13);
    font-size: 20px;
    font-weight: bolder;
}

.checkNum {
    width: 80px;
    text-align: center;
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgb(255, 170, 13);
    outline: none;
    font-size: 24px;
    color: rgb(255, 170, 13);
    letter-spacing: 5px;
}

.checkNum:focus {
    color: rgb(255, 170, 13);
    border: 2px solid rgb(255, 170, 13);
}


.ccBox {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.check-number,
.cc-info,
.ccv-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 10px;
}

.check-number label,
.cc-info label,
.ccv-check label {
    white-space: nowrap;
    margin-right: 10px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #646464;
    color: rgb(255, 170, 13);
    font-size: 20px;
    font-weight: bolder;
}


.checkNum {
    width: 80px;
    text-align: center;
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgb(255, 170, 13);
    outline: none;
    font-size: 20px;
    color: rgb(255, 170, 13);
    letter-spacing: 5px;
}

.checkNum:focus,
#cc-year:focus,
#cc-month:focus,
#ccv-number:focus {
    color: rgb(255, 170, 13);
    border: 2px solid rgb(255, 170, 13);
}

#cc-year,
#cc-month,
#ccv-number {
    width: 100px;
    text-align: center;
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgb(255, 170, 13);
    outline: none;
    font-size: 18px;
    color: rgb(255, 170, 13);
    letter-spacing: 5px;
    margin: 0 10px;
}

.cc-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 
.date-picker {
    font-size: 18px;
    padding: 5px 10px;
    background: rgb(255, 170, 13);
    border-radius: 10px;
    border: 1px solid rgb(255, 170, 13);
    font-weight: 700;
    color: black;
    letter-spacing: 3px;
    transition: all 0.3s ease;
    outline: none;
}


.date-picker:active {
    transform: scale(0.9);
    background-color: rgb(255, 120, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.date-picker:hover {
    background-color: rgb(255, 120, 0);
    color: #f0e68c;
    border-color: rgb(255, 120, 0);
} */


.checkOut-btn {
    font-size: 18px;
    margin: 40px 0 35px;
    padding: 10px 20px;
    background: rgb(255, 170, 13);
    border-radius: 0.75rem;
    border: 1px solid rgb(255, 170, 13);
    font-weight: 700;
    color: black;
    outline: none;
    letter-spacing: 3px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    align-self: center;
}

.checkOut-btn:hover {
    background-color: rgb(255, 120, 0);
    color: #f0e68c;
    border-color: rgb(255, 120, 0);
}

.checkOut-btn:active {
    transform: scale(0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#cc-year::placeholder,
#cc-month::placeholder,
#ccv-number::placeholder {
    color: rgb(255, 120, 0);
}