.about-main {
    width: 70%;
    font-size: 32px;
    margin: 0 auto 500px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid red;
}

.about-mainText {
    margin-top: 50px;
    line-height: 1.6;
    width: 60%;
    padding: 30px;
    display: block;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

.about-img {
    margin: 50px;
}

.about-link {
    margin: 150px;
    text-decoration: none;
    color: rgb(255, 170, 13);
}