/* ---------- Login頁面 ---------- */

.container {
    margin: 200px auto;
}

.form-container {
    position: relative;
    width: 600px;
    height: 700px;
    margin: 0 auto;
    background-color: rgba(41, 40, 40, .7);
    border: 3px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.button-group {
    width: 300px;
    margin: 70px auto;
    position: relative;
    background-color: rgba(161, 167, 142, 0.2);
    box-shadow: 0 0 25px 5px #0000003b;
    border-radius: 30px;
}

.switch-btn {
    position: relative;
    padding: 12px 32px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    font-weight: 400;
    font-size: 20px;
    transition: all .4s ease-in-out;
    color: rgb(255, 170, 13);
}

.switch-btn:hover {
    transform: scale(1.2);
    font-weight: bolder;
}

#btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: rgba(255, 170, 13, .2);
    border-radius: 30px;
    transition: .5s;
    box-shadow: 2px 1px 5px rgba(255, 255, 255, 0.3);
}

.input-group {
    position: absolute;
    top: 150px;
    width: 350px;
    transition: .5s ease;
}

.input-group .input-text {
    width: 100%;
    padding: 15px 0;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(255, 170, 13);
    text-align: center;
    outline: none;
    background: rgba(255, 255, 255, .2);
    font-size: 20px;
    color: rgb(255, 170, 13);
    box-shadow: -1px -1px 5px rgba(255, 255, 255, .9);
    transition: box-shadow 0.3s ease;
}

.input-text:focus {
    box-shadow: -1px -1px 5px rgba(255, 69, 0, .5);
    border: 2px solid rgb(255, 170, 13);
    color: rgb(255, 170, 13);
}

.input-text::placeholder {
    font-size: 20px;
    color: rgba(255, 170, 13, 0.7);
    text-align: center;
}

.remember-box {
    margin: 50px 20px 50px 0;
}


#login {
    margin: 70px auto;
    left: 110px;
}

#register {
    left: 650px;
}


.remember-box {
    appearance: none;
    margin: 50px 20px 50px 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid rgb(255, 170, 13);
    border-radius: 5px;
}

.remember-box:checked {
    background-color: rgb(255, 170, 13);
}

.remember-text {
    color: rgb(255, 170, 13);
    font-size: 17px;
    position: absolute;
    right: 245px;
    bottom: 180px;
}