/* Booking Button */
.booking-btn {
    transition: all 0.7s ease-in-out;
}

.booking-btn:hover {
    letter-spacing: 3px;
    transform: scale(1.1);
    padding: 10px 30px;
}

/* Submit Button */
.submit-btn {
    width: 40%;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 10% auto;
    color: black;
    background: rgb(255, 170, 13);
    border: 0;
    outline: none;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: .3s ease;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: 2px 1px 5px rgba(255, 255, 255, 0.3);
}

.submit-btn:hover {
    background-color: rgb(255, 120, 0);
    color: whitesmoke;
    border: 2px solid rgb(185, 107, 51);
}

.submit-btn:active {
    transform: scale(0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}