/* --------- Navbar 導覽列  ---------  */
/* --------- Navbar導覽列 - header section  ---------  */

.header {
    position: fixed;
    news-title: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.header nav {
    padding: 0 20px;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    line-height: 6rem;
    background: rgba(26, 26, 26, .7);
}

/* --------- Navbar導覽列 - logo section  ---------  */
.logo {
    padding: 0 0 0 60px;
}

.logo a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(255, 170, 13);
}


/* --------- Navbar導覽列 - 選單 section  ---------  */

.nav-list {
    display: flex;
}

.nav-item {
    padding: 0 40px;
    font-size: 1.25rem;
}

.nav-item a {
    text-decoration: none;
    color: whitesmoke;
}

.nav-item a:hover {
    color: rgb(255, 170, 13);
}

.nav-btn {}

/* --------- Banner 區域  ---------  */
.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 80vh;
    opacity: 0.4;
    object-fit: cover;
}

.banner-title {
    position: absolute;
    news-title: 350px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.banner h3 {
    position: relative;
    color: rgb(255, 170, 13);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5rem;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    letter-spacing: 2.5rem;
}

.banner p {
    color: rgb(237, 105, 52);
    word-spacing: 1.8rem;
    letter-spacing: 5px;
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    margin-news-title: 80px;
}




/* ---------- Navbar 訂位醒目按鈕 ---------- */
#bookingBtn {
    padding: 10px 20px;
    background: rgb(255, 170, 13);
    border-radius: 0.75rem;
    font-weight: 500;
    color: black;
    transition: color .7s, font-weight .7s, letter-spacing .7s, padding .7s;
}

#bookingBtn:hover {
    color: whitesmoke;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 15px 25px;
}

/* ---------- About 餐廳簡介區域 ---------- */
.about {
    text-align: center;
    height: 500px;
    margin: 150px;
}

.about-title {
    display: block;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 3rem;
}


.about-text {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.about-text p {
    width: 350px;
    line-height: 1.6;
    color: rgb(255, 170, 13);
    word-spacing: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left: 150px;
}

.about-text p a {
    text-decoration: none;
    color: rgb(237, 105, 52);
}

.about-text img {
    width: 400px;
    height: 500px;
}



/* ---------- Menu 菜單展示區域 ---------- */
.menuList {
    width: 80%;
    margin: 50px auto;
}

.menuList .menuRow {
    display: flex;
    margin: 0 -8px;
}

.menuList .menuItem {
    width: 8.3333%;
    padding: 0 8px;
}

.menu-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}


/* ----------- NEWS 最新消息區域 ----------- */
.news-section {
    margin: 200px auto;
    border: 3px solid #b89881;
    width: 50%;
    cursor: pointer;
}


.news-item {
    color: #fff;
}

.news-section .news-item .news-title {
    position: relative;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
}

.news-section .news-item .news-title::before {
    content: "";
    position: absolute;
    news-title: 35%;
    right: 30px;
    display: block;
    width: 10px;
    height: 10px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
}

.news-title:hover {
    /* transform: scale(1.05); */
}


.news-section .news-item .news-date {
    font-family: "Crimson Text", serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9a9a9a;
    width: 120px;
}



.news-section .news-item {
    padding-left: 15px;
    padding-right: 25px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.4px;
}

.news-section .news-item .bottom {
    padding: 40px 20px;
    padding-left: 25px;
    display: none;
    cursor: auto;
}


.news-section .news-item {
    width: 50%;
}

/* ---------- Reservation 訂位區域 ---------- */

.index-booking {
    position: relative;
    background-position: 50%;
    min-height: 70vh;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-booking a {
    position: absolute;
    z-index: 5;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    background: rgb(255, 170, 13);
    border-radius: 12px;
    font-weight: 500;
    color: black;
    transition: color .7s, font-weight .7s, letter-spacing .7s, padding .7s;
}

.index-booking a:hover {
    color: whitesmoke;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 15px 25px;
}

.index-booking img {
    opacity: 0.3;
    max-height: 75vh;
    width: 100%;
    object-fit: cover;
}


/* ---------- Location 餐廳資訊區域 ---------- */

.map {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.map-text {
    width: 500px;
    line-height: 3;
    color: rgb(255, 170, 13);
    word-spacing: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin: 50px 75px;
    text-align: center;
}

.map-text p {
    border-bottom: 1px dotted rgb(255, 170, 13);
}

.map iframe {
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    width: 700px;
}

.map iframe:hover {
    box-shadow: 10px 15px 30px 0px rgba(0, 0, 0, 0.75);
}



/* ---------- Footer 區域 ---------- */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: rgb(26, 26, 26);
    color: rgb(255, 170, 13);
    height: 150px;
    font-size: 18px;
}


.footer-logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(255, 170, 13);
}