/* ---------- Footer 區域 ---------- */
footer {
    padding: 20px;
    height: 150px;
    font-size: 18px;
    color: rgb(255, 170, 13);
    background: rgb(26, 26, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer-logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(255, 170, 13);
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon-btn {
    color: whitesmoke;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.icon-btn:hover {
    color: rgb(255, 170, 13);
    transform: scale(1.1);
}