:root {
  --transition: cubic-bezier(0.1, 0.7, 0, 1);
}


.imgs-parent {
  display: flex;
  gap: 0.4rem;
  perspective: 60rem;
}

.img {
  width: 5.4rem;
  height: 21rem;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition:
    transform 1.25s var(--transition),
    filter 3s var(--transition),
    width 0.3s var(--transition);
  position: relative;
  will-change: transform, filter;
}

/* When Hovered */
.img:hover {
  transform: translateZ(17.375rem);
  filter: inherit;
  /* 這行可以保留 */
}

/* Sidebar Helpers */
.img::before,
.img::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 100%;
  right: -1.25rem;
}

.img::after {
  left: -1.25rem;
}

/* When Hovered RIGHT */
.img:hover+* {
  transform: translateZ(14.77rem) rotateY(35deg);
  filter: grayscale(0.2) brightness(0.9);
  z-index: -1;
}

.img:hover+*+* {
  transform: translateZ(9.73rem) rotateY(40deg);
  filter: grayscale(0.4) brightness(0.8);
  z-index: -2;
}

.img:hover+*+*+* {
  transform: translateZ(4.17rem) rotateY(35deg);
  filter: grayscale(0.6) brightness(0.7);
  z-index: -3;
}

.img:hover+*+*+*+* {
  transform: translateZ(1.1rem) rotateY(25deg);
  filter: grayscale(0.8) brightness(0.6);
}

/* When Hovered LEFT */
.img:has(+ :hover) {
  transform: translateZ(14.77rem) rotateY(-35deg);
  filter: grayscale(0.2) brightness(0.9);
}

.img:has(+ * + :hover) {
  transform: translateZ(9.73rem) rotateY(-40deg);
  filter: grayscale(0.4) brightness(0.8);
}

.img:has(+ * + * + :hover) {
  transform: translateZ(4.17rem) rotateY(-35deg);
  filter: grayscale(0.6) brightness(0.7);
}

.img:has(+ * + * + * + :hover) {
  transform: translateZ(1.1rem) rotateY(-25deg);
  filter: grayscale(0.8) brightness(0.6);
}

/* When clicked */
.open {
  width: 25vw;
  transform: translateZ(17.375rem);
  filter: inherit;
  z-index: 1;
  margin: 0 0.45vw;
}

/* Menu Box Styles */
.menu-box {
  width: 480px;
  padding: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(61, 60, 60, 0.5);
  position: relative;
  overflow: hidden;
}

.menu-listTitle {
  color: rgb(255, 170, 13);
  font-weight: bolder;
  font-size: 28px;
  align-self: center;
}

.menu-list {
  padding: 10px;
  display: flex;
}

.menu-listImg {
  width: 70%;
  border-radius: 50px 100px 5px 100px;
  margin-right: 20px;
}

.menu-listItem {
  display: flex;
  flex-direction: column;
}

.menu-listContent {
  color: rgb(255, 130, 13);
  font-size: 18px;
}

.menu-listPrice {
  font-size: 24px;
  margin: 20px 0;
  letter-spacing: 2px;
  color: bisque;
}

.toMenu {
  text-decoration: none;
  display: block;
  color: rgb(255, 170, 13);
  font-weight: bolder;
  text-align: center;
  margin: 15px 0 0 10px;
}

.hidden {
  display: none;
}