/* <!-- ---------- Reservation 區域 ---------- --> */


.reservation-section {
    width: 80%;
    height: 900px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
}

.reservation-form {
    color: rgb(255, 170, 13);
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(10px);
    width: 20%;
}

.reservation-img {
    width: 50%;
}

.reservation-img img {
    width: 80%;
}


.form-name {}

.form-date {}

.form-time {}

.form-name {}

.form-select {}

.form-btn {
    display: block;
    margin: 50px auto;
    text-align: center;
    width: 180px;
    height: 60px;
    background: rgb(255, 170, 13);
    border-radius: 15px;
    font-weight: 600;
    color: black;
    font-size: 24px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    transition: color .7s, font-weight .7s, letter-spacing .7s, transform .7s ease, padding .7s;
}

.form-btn:hover {
    color: whitesmoke;
    font-weight: 900;
    letter-spacing: 3px;
    transform: scale(1.1);
    padding: 10px 30px;
}