/* -------- Reservation 區域樣式 ---------- */
.reservation-section {
    box-sizing: border-box;
    width: 1280px;
    height: 800px;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .5);
    background: radial-gradient(circle, rgba(52, 51, 51, 1) 4%, rgba(82, 80, 80, 1) 40%, rgba(56, 54, 54, 1) 74%);
}

.reservation-title {
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 10px;
    font-size: 32px;
    font-weight: bolder;
    text-shadow: 1px 1px 3px #3a3939;
}

.reservation-form {
    /* width: 400px; */
    margin-right: 150px;
    box-sizing: border-box;
    color: rgb(255, 170, 13);
    line-height: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: transparent;
    backdrop-filter: blur(10px);
}

.reservation-seating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seating-grid {
    width: 400px;
    height: 300px;
    margin: 200px auto;
    background-image: url('https://images.unsplash.com/photo-1704135520525-f6d7bb8d1129?q=80&w=1858&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-color: rgba(255, 245, 245, 0.723);
    background-blend-mode: overlay;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    gap: 1px;
}

.grid-item {
    box-sizing: border-box;
    width: 100%;
    color: rgb(255, 170, 13);
    border-radius: 10px;
    background: transparent;
    font-size: 16px;
    text-align: center;
    position: relative;
}

.table-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url('./reservation/seat-2-1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 170, 13);
    font-weight: bold;
    font-size: 36px;
    text-shadow:
    1px 1px 0 rgba(0, 0, 0, 0.8), 
    -1px -1px 0 rgba(0, 0, 0, 0.8),
    -1px 1px 0 rgba(0, 0, 0, 0.8), 
    1px -1px 0 rgba(0, 0, 0, 0.8), 
    2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.table-four {
    background-image: url('./reservation/table-4.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 170, 13);
    font-weight: bold;
    font-size: 36px;
    text-shadow:
    1px 1px 0 rgba(0, 0, 0, 0.8), 
    -1px -1px 0 rgba(0, 0, 0, 0.8),
    -1px 1px 0 rgba(0, 0, 0, 0.8), 
    1px -1px 0 rgba(0, 0, 0, 0.8), 
    2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.form-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-name,
.form-date,
.form-time,
.form-select {
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: center;
}

input:focus {
    box-shadow: -1px -1px 5px rgba(255, 69, 0, .5);
    border: 1px solid orangered;
}

select {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    cursor: pointer;
}

select option {
    background-color: #333;
    /* color: #e16c6c; */
}

select:focus {
    box-shadow: -1px -1px 5px rgba(255, 69, 0, .5);
    border: 1px solid orangered;
}


.form-select {
    position: relative;
}

.form-select::after {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
}

.form-btn {
    padding: 10px 5px;
    width: 60%;
    margin: 25px auto 0px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    background-color: rgb(255, 170, 13);
    border-radius: 10px;
    border: none;
    transition: transform 0.5s ease;
    text-align: center;
}

.form-btn:hover {
    transform: scale(1.1);
    background-color: rgb(230, 150, 10);
}

label{
    margin-right: 50px;
}